body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #eaeded;
}

/* HEADER */
.top-header {
  background: #131921;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box input {
  padding: 8px;
  width: 200px;
}

.search-box button {
  padding: 8px;
  background: #febd69;
  border: none;
}

/* NAV */
nav {
  background: #232f3e;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
}

/* LOGIN */
.login-box {
  text-align: center;
  margin: 20px;
}

.login-box input {
  padding: 8px;
  margin: 5px;
}

/* MAIN */
.main {
  display: flex;
}

/* PRODUCTS */
.products {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* PRICE */
.price {
  color: green;
  font-weight: bold;
}

/* BUTTON */
button {
  width: 100%;
  padding: 10px;
  background: #ffd814;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

/* CART */
.cart {
  flex: 1;
  background: white;
  padding: 20px;
  border-left: 2px solid #ddd;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

/* FOOTER */
footer {
  background: #131921;
  color: white;
  text-align: center;
  padding: 15px;
}
